.contacts {
  display: flex;
  flex-direction: column;

  &__text {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    &__slogan {
      margin-left: 19px;
      font-size: 16px;
      text-transform: uppercase;
    }

    &__address {
      margin-right: 25px;
      min-width: 135px;
      p {
        margin: 0;
        font-family: Arial;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #444444;
      }
    }
  }

  &__imgs {
    height: 400px;
    position: relative;
    background: url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position-y: -50px;
    background-position-x: -80px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-map-mobile@2x.png");
      background-size: 400px auto;
      background-repeat: no-repeat;
    }

    &__pin {
      position: absolute;
      left: 170px;
      top: 235px;
      img {
        z-index: 1;
        width: 55px;
        height: 53px;
        object-fit: cover;
      }
    }
  }
}


@media (min-width: @tablet-width) {
  .contacts {
    &__text {
      height: 201px;

      &__slogan {
        max-width: 155px;
        margin-left: 71px;
        font-size: 20px;
      }

      &__address {
        margin-right: 72px;
        max-width: 155px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 76px;

        p {
          text-align: right;
          font-size: 16px;
        }
      }
    }

    &__imgs {
      margin: 0;
      background: url("../img/bg-map-tablet@1x.png");
      background-size: 768px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/bg-map-tablet@2x.png");
        background-size: 768px auto;
      }

      &__pin {
        left: 328px;
        top: 155px;
        img {
          width: 113px;
          height: 106px;
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    &__text {
      position: absolute;
      z-index: 1;
      left: 110px;
      top: 95px;
      width: 570px;
    }

    &__imgs {

      background: url("../img/bg-map-desktop@1x.png");
      background-size: 1440px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/bg-map-desktop@2x.png");
        background-size: 1440px auto;
      }
      &__pin {
        left: 1009px;
        top: 150px;
      }
    }
  }
}
