.first-screen {
  display: flex;
  flex-direction: column;
}

.first-screen__text {
  position: relative;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
}

.first-screen__img {
  margin: 29px 20px 3px 20px;
}

.first-screen__img img {
  width: 280px;
  height: 270px;
}

.first-screen__title {
  margin-right: 62px;;
  padding-top: 29px;
  padding-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.first-screen__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
