.first-screen {
  display: flex;
  flex-direction: column;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  position: left top;
}

.first-screen__title {
  // margin-left: 38px;
  // margin-top: 29px;

  color: #ffffff;
  // width: 245px;
  // height: 74px;
  font-family: Oswald;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}

.first-screen__link {
  order: 1;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  margin-left: 20px;
}

.first-screen__link a {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  padding-top: 14px;
  display: block;
  text-transform: uppercase;
}

.first-screen__slogan {
  margin-bottom: 167px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Oswald;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}

.first-screen__img {
  margin-top: -145px;
  margin-left: 20px;
}
