.footer__logo {
  width: 128px;
  height: 24px;
  margin-left: 96px;
  margin-top: 37px;
}

.social__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 62px;
}

.social__link--vkontakte img {
  width: 22px;
  height: 12px;
  object-fit: contain;
}

.social__link--insta img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.social__link--facebook img {
  width: 10px;
  height: 19px;
  object-fit: contain;
}

.copyright {
  display: flex;
  justify-content: space-around;
  min-height: 78px;
}

.copyright img {
  width: 27px;
  height: 34px;
  object-fit: contain;
  color: #666666;
}
