.options {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

.options__item__img  {
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
}

.slim__img img {
  width: 35px;
  height: 49px;
  margin: 0 auto;
  display: block;
}

.pro__img img {
  width: 67px;
  height: 28px;
  margin: 0 auto;
  display: block;
}

.options__list {
  list-style-type: none;
}

.options__item__text dt {
  line-height: 37px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.options__item__text dd {
  margin: 0;
  padding: 0 36px 23px 21px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
}

.options__item__link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}

.options__item__link img {
  width: 25px;
  height: 12px;
}
