.page-header {
  display: flex;
  min-height: 65px;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  margin: 11px 65px 15px 20px;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  margin: 23px 19px;
}
