.page-header {
  display: flex;
  min-height: 65px;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  margin: 11px 65px 15px 20px;
}

.main-nav__toggle {
  margin-top: 23px;
  margin-right: 19px;
  border: none;
}

.main-nav__toggle img {
  position: relative;
  margin: 0 auto;
  width: 25px;
  height: 19px;

}
